.talk-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000;
}

.talk-scale {
  transform: scale(calc(1280 / 1024));
  width: 1024px;
  height: 576px;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 580px 1fr;
  grid-template-rows: 253.36px 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.slot-1 {
  grid-area: 1 / 1 / 3 / 2;
}
.slot-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.slot-3 {
  grid-area: 2 / 2 / 3 / 3;
}

.talk-container .ch-frame {
  box-shadow: none;
  border: 0.7px solid rgb(56, 56, 56);
}

.slot-1 .ch-frame-content {
  background: #1e1e1e;
}

/* speaker panel */
.speaker-panel {
  border-radius: 6px;
  overflow: hidden;
  background: #222;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
}

.h-full {
  height: 100%;
}

.video-container {
  height: 182px;
  position: relative;
}

.video-wrapper {
  top: -6px;
  height: 229px;
  position: relative;
}

video {
  height: 100%;
  width: 388px;
}

.captions-container {
  /* flex: 1; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 0.8em;
  color: #bbb;
  /* background: linear-gradient(
    to bottom,
    transparent 40%,
    #222 66%
  ); */
  color: #ddd;
  font-family: Ubuntu, Droid Sans, -apple-system, BlinkMacSystemFont, Segoe WPC,
    Segoe UI, sans-serif;
}

.captions {
  color: #ddd;
  height: 78px;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Ubuntu, Droid Sans, -apple-system, BlinkMacSystemFont, Segoe WPC,
    Segoe UI, sans-serif;
  padding: 0 16px;
  margin: 0;
  z-index: 10;
  flex: 1;
  white-space: pre;
  font-size: 1.34em;
  line-height: 1.3em;
  background: #222;

  backface-visibility: hidden; /* https://stackoverflow.com/a/50248254/1325646 */
}
